{% extends 'head.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<section class="info">
    <div class="main">
        <img src="../static/images/about.png">
        <div class="about-text">
            <h1>About Us</h1>
            <h5>Resume <span>Builder Website</span></h5>
            <p>Welcome to our resume builder platform, where we're dedicated to empowering individuals to craft their
                professional stories with confidence and clarity. At our core, we believe that everyone has a unique
                narrative worth sharing, and we're here to provide the tools and guidance to make that story shine. With
                a user-friendly interface and a wealth of customizable templates, our platform streamlines the resume
                creation process, allowing users to focus on showcasing their skills, experiences, and achievements.
                Whether you're a recent graduate entering the job market or a seasoned professional looking to make a
                career pivot, we're committed to helping you build a resume that stands out and opens doors. Join us on
                this journey to professional success, where your story begins with us..</p><br>
            <button type="button"><a href="https://tally.so/r/m6KLA5" target="_blank"
                    style="text-decoration: none; color: white;">let's Talk</a></button>
        </div>
    </div>
</section>
{% include 'bottom.html' %}
{% endblock %}
</body>

</html>