{% extends 'head.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="display" style="background-image: url('../static/images/desktop-wallpaper-black-backgrounds-black-website-background.jpg');">
    <div class="parent">
        <div class="displaytxt" style="background-image: url('../static/images/pic3.jpg');">
         Welcome To Our Resume Project
        </div>
        <div class="subtitle" style="background-image: url('../static/images/pic3.jpg');">
            This site was built only using HTML, CSS, JavaScript and Python, By Manan Syal, Manik Lakhanpal, and Sujal Garg.
        </div>
    </div>
</div>
{% include 'bottom.html' %}
{% endblock %}
</body>
</html>
